.Add-container {
  position: relative;

}

.Add-btn {
  position: absolute;
  top: var(--sp-16);
  right: var(--sp-16);
  display: flex;
  place-items: center;
  justify-content: space-evenly;
  padding: var(--sp-12) var(--sp-20);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.plus-svg {
  margin-right: var(--sp-12);
}

.text {
  color: var(--clr-primary);
}