.container {
  background-color: var(--clr-primary);
  color: var(--clr-txt-primary);
  padding: var(--sp-4);
  border-right: 2px solid var(--clr-border);
  box-shadow: 0px 2px 16px 0px rgba(14, 30, 37, 0.42);
}